{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'graphs/app.js' %}"></script>
    
    
</head>
<body>
    <div class="wrapper">
        {% include 'navbar.html' %}
        {% include 'sidebar.html' %}
        <div class="main-container">
            <main>
    <div class="graph">
       
        
        <div class="box"> 
            <h2>CATEGORY SALES</h2>
           
            <canvas id="line"></canvas>
        </div>
        
            <div class="box">   
                <h2>MONTHLY SALES</h2>
               
            <canvas id="pie"></canvas>
            </div>
            <div class="box">   
                <h2>MONTHLY SALES</h2>
               
            <canvas id="bar"></canvas>
            </div>
            <div class="box">   
                <h2>MONTHLY SALES</h2>
               
            <canvas id="doughnut"></canvas>
            </div>
    
    
        </div>
        </main>
    </div>
</div>
    
    


<script>
   var xValues = ["CAKES", "COOKIES", "BREAD", "BUNS", "DOUGHNUTS"];
var yValues = [55, 49, 44, 24, 15];
var barColors = ["red", "green","blue","orange","brown"];

new Chart("bar", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Summary of Online Cake Shop"
    }}
});
</script>
<script>
    var xValues = [50,60,70,80,90,100,110,120,130,140,150];
var yValues = [7,8,8,9,9,9,10,11,14,14,15];

new Chart("line", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: "rgba(0,0,0,1.0)",
      borderColor: "rgba(0,0,0,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Summary of Online Cake Shop"
    }}}
);
</script>
<script>
    
</script>
<script>
    new Chart("pie", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Summary of Online Cake Shop"
    }
  }
});
</script>
<script>
    var xValues = ["CAKES", "COOKIES", "BREAD", "BUNS", "DOUGHNUTS"];
    var yValues = [55, 49, 44, 24, 15];
    var barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145"
    ];
    
    new Chart("doughnut", {
      type: "doughnut",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "World Wide Wine Production 2018"
        }
      }
    });
    </script>
    
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var date = new Date(Date.now() - 5 * 24 * 60 * 60 * 1000);
        var defaultDate = date.getUTCFullYear() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCDate();
        document.getElementById("datetimepicker-dashboard").flatpickr({
            inline: true,
            prevArrow: "<span title=\"Previous month\">&laquo;</span>",
            nextArrow: "<span title=\"Next month\">&raquo;</span>",
            defaultDate: defaultDate
        });
    });
</script>
</body>
</html>