{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Cake category</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Assets/css/font-awesome/css/font-awesome.css' %}">
    <script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
            const d = new Date();
            d.setTime(d.getTime() + (15 * 24 * 60 * 60 * 1000));
            let expires = "expires="+d.toUTCString();
            document.cookie ='cart=' + JSON.stringify(cart) + ";domain=" + expires + ";path=/";
        }
		console.log('Cart:', cart)
	
	</script>
</head>
    <body>
        {% include "header.html" %}
        {% include "side_menu.html" %}
        
        <div class="slider" >
            <div class="mySlide fade" style="width: 1030px;"><img src="{% static 'Assets/images/banners/cat-banner-1.jpg' %}" width="100%" height="100%" >
                {% for categ in categ %}
                <div class="category">{{categ.name}}</div>
                {% endfor %}
            </div>
    </div>
        
        <div class="content" style="height: 80px"></div>
         
    
           <div class="content">
        <div class="productsContainer" >
            {% for product in products %}
            <div class="product">
                <div class="image"> <img src="{% static 'Assets/images/products/birthday1.jpeg' %}" width="100%" height="100%"/></div>
                <div class="image-footer">
                    <div class="name">{{product.name}}</div>
                    <div class="price" style="color: rgb(125, 217, 137)">UGX. {{product.priceAfterDiscount}}  &nbsp;&nbsp;<span style="color:#bbb"><s>UGX {{product.priceBeforeDiscount}}</s></span></div>
                    <div class="rating">
                        <i class="fa fa-star" style="color: yellow"></i>
                        <i class="fa fa-star" style="color: yellow"></i>
                        <i class="fa fa-star" style="color: yellow"></i>
                        <i class="fa fa-star-half-o" style="color: yellow"></i>
                        <i class="fa fa-star-o" style="color: yellow"></i>                        
                    </div>
                    
                    <div class="likes" >
                        <i class="fa fa-thumbs-o-up" id="rating" data-id={{product.id}}  style="font-size: 20px" ></i>&nbsp; &nbsp;<span class="likesCount" style="font-size: 20px">  {{product.likes}} likes</span>                            
                                                
                    </div>
                    
                    <div class="add-to-cart"><a class="cart" data-product={{product.id}} data-action="add" style="cursor: default">ADD TO CART</a></div>           
                </div>
            </div>
            {% endfor %}
            
        </div>
        
        
        
    </div>           
        
    {% include "supporters.html" %}
    {% include "footer.html" %}
    <script src="{% static 'Assets/Js/jquery.min.js' %}" type="text/javascript"></script>    
        <script>
            $("i").click(function(){
                $post=$(this);
                var productID=$(this).data('id');
                $(this).toggleClass("fa-thumbs-down");
                if ($(this).hasClass("fa-thumbs-down")){
                                        
                    var url='/likeIncrease/';

                    fetch(url,{
                        method:'POST',
                        headers:{
                            'content-type':'application/json',
                            'X-CSRFToken':csrftoken
                        },
                        body:JSON.stringify({'productId':productID})
                    })

                    .then((response)=>{
                        return response.json()
                    })

                    .then((data)=>{
                        $post.parent().find('span.likesCount').text(data+" likes");
                    })
                 }
                 else {
                                                            
                    var url='/likeDecrease/';

                    fetch(url,{
                        method:'POST',
                        headers:{
                            'content-type':'application/json',
                            'X-CSRFToken':csrftoken
                        },
                        body:JSON.stringify({'productId':productID})
                    })

                    .then((response)=>{
                        return response.json()
                    })

                    .then((data)=>{
                        $post.parent().find('span.likesCount').text(data+" likes");
                    })
                 }
                 
            });

        </script>
        <script src="{% static 'Assets/Js/image-slider.js' %}" ></script>

        <script src="{% static 'Assets/Js/myfunction.js' %}" type="text/javascript"></script>        
    </body>
</html>
