
<html>
    {% load static %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
        <title>YOUR CART </title>
        <link rel="stylesheet" type="text/css" href="{% static 'Assets/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Assets/css/font-awesome/css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% static 'Assets/css/bootstrap.min.css' %}">
      <script src="{% static 'Assets/Js/jquery.min.js' %}"></script>
      <script src="{% static 'Assets/Js/bootstrap.min.js' %}"></script>
      <script src="{% static 'Assets/Js/getCookie.js' %}" ></script>
    </head>
        <body>
            {% include "header.html" %}
            <div class="" style=" height: 400px; " >
                <div style="height: 400px; width: 80%;  margin-left: 150px; overflow: hidden;  ">

                    <div style="height: 400px; width: 45%;  margin-left: 30px; float: left; ">
                        <h4 style="font-size: 40px;">Shipping Details</h4>
                        <div class="login-details" style="width: 100%;height: 550px">
                            <form id="form" method="POST">
                              {% csrf_token %}
                            <div style="width: 100%;height: 80% ">
                                <div style="width: 100%;height: 60px; padding-top: 10px; font-size: 15px">
                                    <label for="SAddress"><i class="fa fa-map-marker" style="position: absolute; padding: 15px;min-width: 40px "></i></label>
                                    <input type="text" placeholder="Shipping Address" name="SAddress" style="width: 100%; height: 50px;border: none; border-bottom: 1px solid #bbb; padding-left: 40px; outline: none"/>
                                </div>
                                <div style="width: 100%;height: 60px; padding-top: 10px; font-size: 15px">
                                    <label for="SState"><i class="fa fa-location-arrow" style="position: absolute; padding: 15px;min-width: 40px "></i></label>
                                    <input type="email" placeholder="Shipping State" name="SState" style="width: 100%; height: 50px;border: none; border-bottom: 1px solid #bbb; padding-left: 40px; outline: none"/>
                                </div>                            
                                <div style="width: 100%;height: 60px; padding-top: 10px; font-size: 15px">
                                    <label for="SCity"><i class="fa fa-home" style="position: absolute; padding: 15px;min-width: 40px "></i></label>
                                    <input type="text" placeholder="Shipping City" name="SCity" style="width: 100%; height: 50px;border: none; border-bottom: 1px solid #bbb; padding-left: 40px; outline: none"/>
                                </div>
    
                                
                                <div style="width: 100%;height: 60px; padding-top: 10px; font-size: 15px">
                                    <label for="SPin"><i class="fa fa-key" style="position: absolute; padding: 15px;min-width: 40px "></i></label>
                                    <input type="password" placeholder="Shipping Pin Code" name="SPin" style="width: 100%; height: 50px;border: none; border-bottom: 1px solid #bbb; padding-left: 40px; outline: none"/>
                                </div>
                                
                                    
                                <div style="width: 100%;height: 60px ">
                                    <button id="form-button" type="submit" style="background-color: #55f;width: 30%;height: 60px; margin-top: 10px; border-radius: 20px; color: white"><b>Check out</b></button>
                                </div>
                            </div>
                            </form>
                        </div>         
                    </div>
                    <div style=" height: 400px; width:50%; float:left; padding-left:100px;  overflow: auto;">
                        <h1>Payments</h1>
                        <div id="smart-button-container">
                            <div style="text-align: center;">
                              <div id="paypal-button-container"></div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
          
    
            {% include "supporters.html" %}
            {% include "footer.html" %}  
            
            <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
            <script>
              function initPayPalButton() {
                paypal.Buttons({
                  style: {
                    shape: 'rect',
                    color: 'gold',
                    layout: 'vertical',
                    label: 'paypal',
                    
                  },
          
                  createOrder: function(data, actions) {
                    return actions.order.create({
                      purchase_units: [{"amount":{"currency_code":"USD","value":1}}]
                    });
                  },
          
                  onApprove: function(data, actions) {
                    return actions.order.capture().then(function(orderData) {
                      
                      // Full available details
                      console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
          
                      // Show a success message within this page, e.g.
                      const element = document.getElementById('paypal-button-container');
                      element.innerHTML = '';
                      element.innerHTML = '<h3>Thank you for your payment!</h3>';
          
                      // Or go to another URL:  actions.redirect('thank_you.html');
                      
                    });
                  },
          
                  onError: function(err) {
                    console.log(err);
                  }
                }).render('#paypal-button-container');
              }
              initPayPalButton();
            </script>
        </body>
    </html>
    