

 <footer>
          <div class="footerColumn">
            <div class="footerHeading">WORKING HOURS</div>  
            <table>
                <tr>
                    <td>monday-friday</td>
                    <td>8:00am to 5:00pm</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>9:00am to 3:00pm</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>9:00am to 3:00pm</td>
                </tr>
            </table>      
         </div>
          
          <div class="footerColumn"> 
            <div class="footerHeading">LOCATION</div>            
            <table>
                <tr>
                    <td>Location</td>
                    <td>Makerere University, kampala(U)</td>
                </tr>
                <tr>
                    <td>Phone 1</td>
                    <td>+256 754026504</td>
                </tr>
                <tr>
                    <td>Phone 2</td>
                    <td>+256 778707268</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><a href="mailto:juukoroman017@gmail.com">juukokoroman017@gmail.com</a></td>
                </tr>                
            </table>                                
         </div>                  

      <div class="footerColumn">
        <div class="footerHeading">ABOUT US</div>        
        <div class="row" style="margin-top: 10px" >we deal in all kinds of furniture  </div>

        <div class="footerHeading" style="margin-top: 20px">FOLLOW US</div> 

            <table class="none">
                <tr style="font-size:50px">
                    <td ><a href="https://www.facebook.com/Mak_enterprises" style="color: #00e"><i class="icon fa fa-facebook"></i></a></td>
                    <td ><a href="https://www.twitter.com/Mak_enterprises" style="color: white;"><i class="icon fa fa-twitter"></i></a></td>
                    <td > <a href="https://www.pinterest.com/Mak_enterprises" style="color: red"><i class="icon fa fa-pinterest"></i></a></td>
                    <td "><a href="https://www.instagram.com/Mak_enterprises" style="color: yellow;"><i class="icon fa fa-instagram"></i></a></td>
                    <td style="color: blue"><i class="icon fa fa-whatsapp"></i></td>                    
                </tr>
            </table>                 
      </div>
      <div class="copyright">
          <div style="margin-left: -120px">&copy; 2022 ONLINE CAKE SHOP,  All rights reserved.</div>
      </div>
    </footer>  