{% load static %}
<header>
        <div class="top-header">
            <div class="left-content">
                <a href="/my_cart/">| &nbsp <i class="icon fa fa-user"></i> <b>ROMAN</b> &nbsp &nbsp</a>
                <a href="/my_cart/">| &nbsp  <i class="icon fa fa-shopping-cart"></i> My Cart &nbsp &nbsp</a>
                <a href="/accounts/login/">| &nbsp <i class="icon fa fa-sign-in"></i> login |</a>
            </div>
            <div class="right-content">
                <div class="track-order"><a href="/order_details/">Track order</a></div>
            </div>
        </div>
        <div class="middle-header">
            <div class="company"><a href="/"><img height="60px" src="{% static 'Assets/images/logo.png' %}"></a></div>
            <div class="search">
                <form action="/searchResults/" method="POST">
                    {% csrf_token %}
                    <input type="text" name="search" id="search" placeholder="Search here..." {% if searchWord %} value="{{searchWord}}" {% endif %}>
                    <button type="submit"><li class="icon fa fa-search"></li></button>
                </form>    
            </div>
            <div class="cart-details">
                <div class="cart-total">CART - <span class="amount" style="color:green">UGX  &nbsp; &nbsp; ...</span></div>
                <div class="cart-icon">
                    <a href="/my_cart/"><i class="icon fa fa-shopping-cart"></i></a>
                    <div style="background-color: red; border-radius: 50%; text-align: center; color: white; padding: 5px; width: 30px; margin-top: -40px; margin-left: 10px;">
                        {{cartItems}}
                    </div>
                </div>

            </div>

        </div>
        <div class="menu-bar">
            <div class="menu-adjustment">
                <ul class="nav-list">
                    <li class="active" dropdown>
                        <a href="/" data-hover="dropdown" class="dropdown-toggle">HOME</a>
                                                                                                                                                    
                    </li>
                    {% for category in categories %}
                    <li class="dropdown">
                        <a href="/category/{{category.id}}"> {{category.name}}</a>
                    </li>
                    {% endfor %}
                    


                </ul>                              
            </div>
        </div>
    </header>
