{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>ORDER DETAILS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Assets/css/font-awesome/css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'Assets/css/bootstrap.min.css' %}">
  <script src="{% static 'Assets/Js/jquery.min.js' %}"></script>
  <script src="{% static 'Assets/Js/bootstrap.min.js' %}"></script>
  
  
  	<script language="javascript" type="text/javascript">
var popUpWin=0;
function popUpWindow(URLStr, left, top, width, height)
{
 if(popUpWin)
{
if(!popUpWin.closed) popUpWin.close();
}
popUpWin = open(URLStr,'popUpWin', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=no,copyhistory=yes,width='+600+',height='+600+',left='+left+', top='+top+',screenX='+left+',screenY='+top+'');
}

</script>
</head>
    <body>
        {% include "header.html" %}
        <h1 style="text-align: center; border-bottom: 1px solid #eee; margin: 50px 0px">THESE ARE YOUR ORDERS</h1>
        <div class="slider" >
        </div>
        <div class="container" style="width: 90%;">
            <form method="post">
                <table class="table ">
                    <thead class="" style="height: 100px; ">
                        <tr class="bg-info"> 	 	 	 	 	 	
                            <th style="padding-bottom: 30px; font-size: 20px;">#</th>
                            <th style="padding-bottom: 30px; font-size: 20px;">Image</th>
                            <th style="padding-bottom: 30px; font-size: 20px;">Product Name</th>
                            <th style="padding-bottom: 30px; font-size: 20px;">Quantity</th>
                            <th style="padding-bottom: 30px; font-size: 20px;">Price Per unit</th>
                            <th style="padding-bottom: 30px; font-size: 20px;">payment method</th>
                            <th style="padding-bottom: 30px; font-size: 20px;">Order Date</th>
                            <th style="padding-bottom: 30px; font-size: 20px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orderItem in orderItems %}
                        <tr >
                            <td >
                                <div style="margin-top: 60px">1</div>
                            </td>
                            
                            <td>
                                <div style="margin-top: 1px;"><img src="{{orderItem.product.image.url}}" alt="alt" style="object-fit: contain" width="150px" height="150px" /></div>
                            </td>
                            <td class="border-left">
                                <div >{{orderItem.product.name}}</div>
                            </td>
                            
                            <td>
                                <div >{{orderItem.quantity}}</div>
                            </td>
                            <td>
                                <div >UGX {{orderItem.product.priceAfterDiscount}}</div>
                            </td>`
                                                        
                            <td>
                                <div >{{orderItem.order.paymentMethod}}</div>
                            </td>
                            <td>
                                <div >{{orderItem.date_added}}</div>
                            </td>
                            <td>
                                <div ><a href="javascript:void(0);" onClick="popUpWindow('/track_order/{{orderItem.id}}');" title="Track order">Track</a></div>
                            </td>
                            
                        </tr>
                        {% endfor  %}
                    </tbody>
                </table>
        </div>
        {% include "supporters.html" %}
        {% include "footer.html" %}
        
        <script src="{% static 'Assets/Js/image-slider.js' %}" ></script>        
    </body>
</html>
