{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>ORDER DETAILS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Assets/css/font-awesome/css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'Assets/css/bootstrap.min.css' %}">
  <script src="{% static 'Assets/Js/jquery.min.js' %}"></script>
  <script src="{% static 'Assets/Js/bootstrap.min.js' %}"></script>
  <script src="{% static 'Assets/Js/getCookie.js" ></script>
  
  	<script language="javascript" type="text/javascript">
var popUpWin=0;
function popUpWindow(URLStr, left, top, width, height)
{
 if(popUpWin)
{
if(!popUpWin.closed) popUpWin.close();
}
popUpWin = open(URLStr,'popUpWin', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=no,copyhistory=yes,width='+600+',height='+600+',left='+left+', top='+top+',screenX='+left+',screenY='+top+'');
}

</script>
</head>
    <body>
        {% include "header.html" %}
        
        <div class="slider" >
        </div>
        <div class="container">
            <form method="post">
                <table class="table table-bordered">
                    <thead>
                        <tr> 	 	 	 	 	 	
                            <th>#</th>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price Per unit</th>
                            <th>Grand Total</th>
                            <th>payment method</th>
                            <th>Order Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div style="margin-top: 60px">1</div>
                            </td>
                            
                            <td>
                                <div style="margin-top: 1px;"><img src="{% static 'Assets/images/products/birthday1.jpeg' %}" alt="alt" style="object-fit: contain" width="150px" height="150px" /></div>
                            </td>
                            <td>
                                <div >CAKE</div>
                            </td>
                            
                            <td>
                                <div >3</div>
                            </td>
                            <td>
                                <div >UGX 200000</div>
                            </td>`
                            
                            <td>
                                <div >UGX 250000</div>
                            </td>
                            <td>
                                <div >Paypal</div>
                            </td>
                            <td>
                                <div >2/6/2020</div>
                            </td>
                            <td>
                                <div ><a href="javascript:void(0);" onClick="popUpWindow('/track_order/?oid=5');" title="Track order">Track</a></div>
                            </td>
                            
                        </tr>
                        
                    </tbody>
                </table>
        </div>
        {% include "supporters.html" %}
        {% include "footer.html" %}
        
        <script src="{% static 'Assets/Js/image-slider.js' %}" ></script>        
    </body>
</html>
