{% load static %}
<!DOCTYPE html>
<html>
    <head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Order Tracking Details</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="anuj.css" rel="stylesheet" type="text/css">
</head>
<body>

<div style="margin-left:50px;">
 <form name="updateticket" id="updateticket" method="post"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">

    <tr height="50">
      <td colspan="2"   style="padding-left:0px;"><div> <b>Order Tracking Details !</b></div></td>
      
    </tr>
    <tr height="30">
      <td    ><b>order Id:</b></td>
      <td>2</td>
    </tr>
    
      <tr height="20">
      <td    ><b>At Date:</b></td>
      <td>2/2/2022</td>
    </tr>
     <tr height="20">
      <td    ><b>Status:</b></td>
      <td>In process</td>
    </tr>
     <tr height="20">
      <td    ><b>Remark:</b></td>
      <td>delivered</td>
    </tr>

   
    <tr>
      <td colspan="2"><hr /></td>
    </tr>
   
   <tr>
   <td colspan="2">Order Not Process Yet</td>
   </tr>
      <tr><td colspan="2"><b>
      Product Delivered successfully </b></td>
   
</table>
 </form>
</div>

</body>
</html>

     