{% load static %}
<html>
<head>
       <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css"/>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
<title>Add New Product</title>
</head>
<body>
    <div class="wrapper">
        {% include 'navbar.html' %}
        {% include 'sidebar.html' %}
         <div class="main-container">


<form action="#" method ="post">


<h3 style="color: rgb(5, 5, 5);">Add Products:</h3>

<input type="hidden" name="id" value="" > 


<div class="left-div">
 <h3>Enter Name</h3>
 <input class="input-style" type="text" name="productname" placeholder="Enter the Name of the product" required>
 
 <br><br>
<hr>
</div>

<div class="right-div">
<h3>Enter Category</h3>
<select class="input-style" name="productline">

<option value="long-term">Cakes</option>
<option value="middle-term">Bread</option>
<option value="short-term">Cookies</option>
<option value="short-term">Doughnuts</option>

</select>
<br><br>
 
<hr>
</div>

<div class="left-div">
<h3>Enter Price</h3>
<input class="input-style" type="text" name="price" placeholder="Enter the price of the product" required>
<br><br>
 
<hr>
</div>

<div class="right-div">
<h3>Enter the number</h3>
<input class="input-style" type="number" name="number" placeholder="Enter the number of products" required>
<!-- <select class="input-style" name="active">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select> -->
   
<hr>
</div>
<button class="button"> Save 
 <i class='far fa-arrow-alt-circle-right'></i>
	</button>
	</form>
         </div>
    </div>
</body>
<br><br><br>


</html>