{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    
    <title>Orders</title>
</head>
<body>
    <div class="wrapper">
        {% include 'navbar.html' %}
        {% include 'sidebar.html' %}
     <div class="main-container">
        <main>
         <div class="order">
           <h2>Category List</h2>
              <table>
                <thead>
                
                 <tr>
                    <th>Bread</th>
                    <th>Cakes</th>
                    <th>Cookies</th>
                    <th>Doughnuts</th>
                   
                </tr>
            </thead>
            <tbody>
                
              
                <tr>
                    
                    <td>get values in database</td>
                    <td>get values in database</td>
                    <td>get values in database</td>
                    <td>get values in database</td>
                    
                    
                    
                </tr>
                <tr>
                    
                    <td>get values in database</td>
                    <td>get values in database</td>
                    <td>get values in database</td>
                    <td>get values in database</td>
                    
                    
                    
                </tr>
                <tr>
                    
                    <td>get values in database</td>
                    <td>get values in database</td>
                    <td>get values in database</td>
                    <td>get values in database</td>
                    
                    
                    
                </tr>
                <tr>
                    
                    <td>get values in database</td>
                    <td>get values in database</td>
                    <td>get values in database</td>
                    <td>get values in database</td>
                    
                    
                    
                </tr>
                <tr>
                    
                    <td>get values in database</td>
                    <td>get values in database</td>
                    <td>get values in database</td>
                    <td>get values in database</td>
                    
                    
                    
                </tr>
             
            </tbody> 
                     </table>
                    </div>
                    </main>
                </div>
   </div>

</body>
</html>